*{
    margin: 0px auto;
    padding: 0px;
}
.header{
    width: 100%;
    height: 100px;
    background: #afa;
    text-align: center;
}
.left{
    width: 20%;
    height: 674px;
    background-color: aquamarine;
    float: left;
    text-align: center;
    position: relative;
}
.right{
    width: 80%;
    height: 674px;
    float: left;
}
/* .right>img{
    width: 100%;
} */
.footer{
    clear: both;
}